Lab2_Fibre/.DS_Store
Lab2_Fibre/Analyse.py
Lab2_Fibre/CB_graph.png
Lab2_Fibre/CB_SpectralLoss_graph.png
Lab2_Fibre/CB_WaterPeak_graph.png
Lab2_Fibre/Data_CB/CB3.7m.CSV
Lab2_Fibre/Data_CB/CB335.0m.CSV
Lab2_Fibre/Data_dat/FiberBL140mm.dat
Lab2_Fibre/Data_dat/FiberBL159mm.dat
Lab2_Fibre/Data_dat/FiberBL45mm.dat
Lab2_Fibre/Data_dat/FiberML_IR.dat
Lab2_Fibre/Data_dat/FiberML_OH.dat
Lab2_Fibre/Data_dat/FiberML_RS.dat
Lab2_Fibre/Data_dat/FiberML_Total.dat
Lab2_Fibre/Data_dat/FiberML_UV.dat
Lab2_Fibre/Data_dat/ProfilFiber.dat
Lab2_Fibre/Data_Loop/CB28+9.CSV
Lab2_Fibre/Data_Loop/CB28.CSV
Lab2_Fibre/Data_Splice/Fusion 1.CSV
Lab2_Fibre/Data_Splice/Fusion 2.CSV
Lab2_Fibre/Data_Splice/Fusion 3.CSV
Lab2_Fibre/Data_Splice/Fusion 4.CSV
Lab2_Fibre/Data_Splice/Fusion 5.CSV
Lab2_Fibre/FiberMLTotal.png
Lab2_Fibre/Loop_graph.png
Lab2_Fibre/ProfilFibre.png
Lab2_Fibre/Splice_graph.png
